<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer une Nouvelle Offre d'Emploi - Application de Recrutement</title>
    <link rel="stylesheet" href="/public/bootstrap.min.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f8f9fa;
        }
        .new-job-container {
            background: #ffffff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 600px;
        }
        .new-job-container h2 {
            margin-bottom: 20px;
        }
        .form-group label {
            font-weight: bold;
        }
        .btn-create-job {
            width: 100%;
        }

        
    </style>
</head>
<body>
    <div class="new-job-container">
        <h2 class="text-center">Mettre à jour une Offre d'Emploi</h2>
        <form method="post">
            <div class="form-group">
                <label for="jobTitle">Titre du Poste</label>
                <input type="text" class="form-control" id="jobTitle" name="title" placeholder="Entrez le titre du poste" value="<%= offer.title %>" required>
            </div>
            <div class="form-group">
                <label for="location">Localisation</label>
                <input type="text" class="form-control" id="location" name="city" placeholder="Entrez la localisation du poste" value="<%= offer.city %>" required>
            </div>
            <div class="form-group">
                <label for="jobType">Type de Contrat</label>
                <%= offer.contract %>
                <select class="form-control" id="jobType" name="contract" required>
                    <option value="">Sélectionnez le type de contrat</option>
                    <% const choices = ["Temps Plein", "Temps Partiel", "Contrat", "Stage", "Freelance"];
                    choices.forEach(choice => {
                        if (choice == offer.contract) { %>
                            <option value="<%= choice %>" selected><%= choice %></option>
                        <% }
                        else { %>
                            <option value="<%= choice %>"><%= choice %></option>
                        <% }
                    }) %>
                        
                </select>
            </div>
            <div class="form-group">
                <label for="minsalary">Salaire Minimum</label><br>
                <input type="range" class="form-range" min="2" max="10" step="0.5" id="minsalary" name="minSalary" value="<%= offer.minSalary %>" required><br>
                <label for="maxsalary">Salaire Maximum</label><br>
                <input type="range" class="form-range" min="2" max="10" step="0.5" id="maxsalary" name="maxSalary" value="<%= offer.maxSalary %>" required><br>
                <p id="salary-display">
                    <span id="minsalary-display">60</span>,000€ -
                    <span id="maxsalary-display">60</span>,000€ / an
                </p>
            </div>
            <div class="form-group">
                <label for="jobDescription">Description du Poste</label>
                <textarea class="form-control" id="jobDescription" name="description" rows="5" placeholder="Entrez la description du poste" required><%= offer.description %></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-create-job mt-2">Mettre à jour l'Offre</button>
        </form>
    </div>
    <script>
        const maxSalaryRangeInput = document.getElementById("maxsalary");
        const minSalaryRangeInput = document.getElementById("minsalary");
        const salaryDisplay = document.getElementById("salary-display");
        const minSalaryDisplay = document.getElementById("minsalary-display");
        const maxSalaryDisplay = document.getElementById("maxsalary-display");

        minSalaryRangeInput.addEventListener('input', e => {
            const salary = e.target.value * 10;
            minSalaryDisplay.innerText = salary;
        });
        maxSalaryRangeInput.addEventListener('input', e => {
            const salary = e.target.value * 10;
            maxSalaryDisplay.innerText = salary;
        });

        document.addEventListener('DOMContentLoaded', e => {
            const minSalary = minSalaryRangeInput.value * 10;
            console.log(minSalaryRangeInput.value);
            minSalaryDisplay.innerText = minSalary;
            const maxSalary = maxSalaryRangeInput.value * 10;
            maxSalaryDisplay.innerText = maxSalary;
        });
    </script>
</body>
</html>
